/* 基本デザイン（PC向け） */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

input[type="file"], button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* ダウンロードリンクのスタイル */
ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

ul li {
  margin-bottom: 10px;
}

/* スマホ画面対応 */
@media screen and (max-width: 768px) {
  body {
    padding: 10px; /* スマホ用の余白調整 */
  }

  h1 {
    font-size: 1.8em; /* 見出しを小さく */
  }

  input[type="file"], button {
    width: 90%; /* フォームとボタンを画面幅に合わせる */
    font-size: 1em;
    margin-top: 15px;
  }

  #compressionOptions {
    display: flex;
    flex-direction: column; /* ボタンを縦に並べる */
    align-items: center; /* ボタンを中央揃え */
  }

  button {
    margin-bottom: 10px; /* ボタン間に余白を追加 */
  }

  ul {
    padding: 0;
    margin-top: 20px;
  }

  ul li {
    font-size: 0.9em; /* リンクテキストを調整 */
    margin-bottom: 10px;
  }
}